@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

:root {
  --color-orange: hsl(25, 97%, 53%);
  --color-white: hsl(0, 0%, 100%);
  --color-light-grey: hsl(217, 12%, 63%);
  --color-medium-grey: hsl(216, 12%, 54%);
  --color-medium-grey-transparent: hsla(216, 12%, 54%, 0.1);
  --color-dark-blue: hsl(213, 19%, 18%);
  --color-very-dark-blue: hsl(216, 12%, 8%);
  --font-base: "Overpass", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: var(--font-base);
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.2;
  background-color: var(--color-very-dark-blue);
}

.container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.attribution {
  padding-bottom: 1rem;
  font-size: 0.6875rem;
  text-align: center;
  color: var(--color-light-grey);

  a {
    color: hsl(228, 45%, 44%);
  }
}

.img-fluid {
  display: block;
  max-width: 100%;
}

.card {
  width: 96%;
  max-width: 326px;
  border-radius: 16px;
  background: var(--color-dark-blue);
  perspective: 1000px;

  @media (min-width: 540px) {
    max-width: 414px;
    border-radius: 34px;
  }

  &-side {
    padding: 24px;
    backface-visibility: hidden;
    position: relative;
    transition: 1s transform ease;

    @media (min-width: 540px) {
      padding: 30px 35px;
    }

    &--front {
      z-index: 1;
    }

    &--back {
      //transform: rotateY(-180deg);
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      display: none;
    }
  }

  // &:hover {
  //   .card-side--front {
  //     transform: rotateY(-180deg);
  //   }
  //   .card-side--back {
  //     transform: rotateY(-360deg);
  //     z-index: 2;
  //   }
  // }

  &__icon {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: var(--color-medium-grey-transparent);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

    @media (min-width: 540px) {
      width: 50px;
      height: 50px;
      margin-bottom: 32px;
    }
  }

  &__title {
    color: var(--color-white);
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 12px;

    @media (min-width: 540px) {
      font-size: 28px;
    }
  }

  &__text {
    font-size: 15px;
    color: var(--color-light-grey);
    line-height: 1.5;
    letter-spacing: -0.03em;
    margin-top: 0;

    @media (min-width: 540px) {
      letter-spacing: 0;
    }
  }

  &__btn {
    display: block;
    background-color: var(--color-orange);
    color: var(--color-white);
    font-family: inherit;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    width: 100%;
    border: none;
    height: 44px;
    border-radius: 22px;
    cursor: pointer;

    &:disabled {
      cursor: default;
      background-color: var(--color-light-grey);
    }
  }

  &__image {
    display: block;
    max-width: 145px;
    margin: 10px auto 24px;

    @media (min-width: 540px) {
      max-width: none;
      margin: 5px auto 36px;
    }
  }

  &__result {
    background-color: var(--color-medium-grey-transparent);
    color: var(--color-orange);
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    padding: 0.5rem 0.75rem;
    border-radius: 5rem;
    margin-bottom: 28px;
  }
}

.rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
  margin-bottom: 24px;

  @media (min-width: 540px) {
    letter-spacing: 0;
    margin-top: 32px;
    margin-bottom: 32px;
  }

  &__input,
  input[type="radio"] {
    display: none;
  }

  &__label {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--color-light-grey);
    width: 42px;
    height: 42px;
    line-height: 1;
    border-radius: 50%;
    background: var(--color-medium-grey-transparent);
    cursor: pointer;

    &:hover {
      background-color: var(--color-orange);
      color: var(--color-white);
    }

    &.active {
      background-color: var(--color-light-grey);
      color: var(--color-white);
    }

    @media (min-width: 540px) {
      width: 50px;
      height: 50px;
    }
  }

  &__input:checked ~ .rating__label {
    background-color: var(--color-medium-grey);
    color: var(--color-white);
  }
}
