@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

:root {
  --color-orange: hsl(25, 97%, 53%);
  --color-white: hsl(0, 0%, 100%);
  --color-light-grey: hsl(217, 12%, 63%);
  --color-medium-grey: hsl(216, 12%, 54%);
  --color-medium-grey-transparent: hsla(216, 12%, 54%, 0.1);
  --color-dark-blue: hsl(213, 19%, 18%);
  --color-very-dark-blue: hsl(216, 12%, 8%);
  --font-base: "Overpass", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: var(--font-base);
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.2;
  background-color: var(--color-very-dark-blue);
}

.container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.attribution {
  padding-bottom: 1rem;
  font-size: 0.6875rem;
  text-align: center;
  color: var(--color-light-grey);

  a {
    color: hsl(228, 45%, 44%);
  }
}

.img-fluid {
  display: block;
  max-width: 100%;
}

.card {
  width: 96%;
  max-width: 20.375rem;
  perspective: 1000px;

  @media (min-width: 540px) {
    max-width: 25.875rem;
  }

  &-side {
    padding: 1.5rem;
    backface-visibility: hidden;
    position: relative;
    transition: 1s transform ease;
    background: var(--color-dark-blue);
    border-radius: 1rem;

    @media (min-width: 540px) {
      padding: 1.875rem 2.25rem;
      border-radius: 2.125rem;
    }

    &--front {
      z-index: 1;
    }

    &--back {
      transform: rotateY(-180deg);
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &.submitted {
    .card-side--front {
      transform: rotateY(-180deg);
    }
    .card-side--back {
      transform: rotateY(-360deg);
      z-index: 2;
    }
  }

  &__icon {
    width: 2.625rem;
    height: 2.625rem;
    border-radius: 50%;
    background: var(--color-medium-grey-transparent);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.25rem;

    @media (min-width: 540px) {
      width: 3.125rem;
      height: 3.125rem;
      margin-bottom: 2rem;
    }
  }

  &__title {
    color: var(--color-white);
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 0.75rem;

    @media (min-width: 540px) {
      font-size: 1.75rem;
    }
  }

  &__text {
    font-size: 0.9375rem;
    color: var(--color-light-grey);
    line-height: 1.5;
    letter-spacing: -0.03em;
    margin-top: 0;

    @media (min-width: 540px) {
      letter-spacing: 0;
    }
  }

  &__btn {
    display: block;
    background-color: var(--color-orange);
    color: var(--color-white);
    font-family: inherit;
    font-weight: 700;
    font-size: 0.875rem;
    letter-spacing: 0.2em;
    line-height: 1;
    text-transform: uppercase;
    width: 100%;
    border: none;
    padding: 1.125rem 1.25rem 0.8125rem;
    border-radius: 1.5rem;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover,
    &:focus {
      outline: none;
      background-color: var(--color-white);
      color: var(--color-orange);
    }
  }

  &__image {
    display: block;
    max-width: 9.0625rem;
    margin: 0.625rem auto 1.5rem;

    @media (min-width: 540px) {
      max-width: none;
      margin: 0.375rem auto 2.25rem;
    }
  }

  &__result {
    background-color: var(--color-medium-grey-transparent);
    color: var(--color-orange);
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 1;
    padding: 0.5rem 0.75rem;
    border-radius: 5rem;
    margin-bottom: 1.75rem;

    @media (min-width: 540px) {
      margin-bottom: 2rem;
    }
  }

  &__form:invalid .card__btn {
    cursor: default;
    background-color: var(--color-light-grey);
    pointer-events: none;
  }
}

.rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.5rem 0;

  @media (min-width: 540px) {
    letter-spacing: 0;
    margin: 2rem 0;
  }

  &__input {
    position: absolute;
    left: 0;
    z-index: -1;
    width: 1rem;
    height: 1.25rem;
    opacity: 0;
  }

  &__label {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--color-light-grey);
    width: 2.625rem;
    height: 2.625rem;
    line-height: 1;
    border-radius: 50%;
    background: var(--color-medium-grey-transparent);
    cursor: pointer;

    &:hover {
      background-color: var(--color-orange);
      color: var(--color-white);
    }

    &.active {
      background-color: var(--color-light-grey);
      color: var(--color-white);
    }

    @media (min-width: 540px) {
      width: 3.125rem;
      height: 3.125rem;
    }
  }

  &__input:checked ~ .rating__label {
    background-color: var(--color-medium-grey);
    color: var(--color-white);
  }
}
